PORT=your-port-number
MONGO_URI=your-mongodb-uri

NODE_ENV=your-environment
JWT_SECRET=your-jwt-secret
JWT_EXPIRES_IN= your-jwt-expiration-time
JWT_REFRESH_SECRET= your-jwt-refresh-secret
JWT_REFRESH_EXPIRES_IN= your-jwt-refresh-expiration-time